.nav {
  position: fixed;
  top: 20px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  width: 80%;
  max-width: 300px;
  padding: 20px 0px;
  border-radius: 50px;
  background-color: #2d2d2d;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.nav ul li {
  transform: none;
  transition: all 0.1s ease-in-out;
}

.nav ul li:hover {
  transform: scale(1.05);
}

.nav a {
  text-decoration: none;
}
